.container {
    position: relative;
    height: 200px;

    .box {
        width: 100%;
        height: 50%;
        position: inherit;
    }
    .white-block {
        background-color: white;
        z-index: 1;
        top: 0;
        bottom: 0;
    }

    .red-block {
            background-color: red;
            z-index: 2;
            top: 0;
            bottom: 0;
    }

    .orange-text {
        color: orange;
        z-index: 3;
        position: relative;
        top: -125px;
        left: 400px;
        text-align: center;
        line-height: 200px;
    }
}