section {
    display: block;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;

    .radius {
        background-image: url(https://th.bing.com/th/id/OIP.QED0wOdkG_ytLTJdKwbciQHaFL?pid=ImgDet&rs=1);
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
}