header {
  background-color: #343A40;
}
header .material-symbols-outlined {
  color: #118ABD;
  padding: 0.25em;
}
header h1 {
  color: white;
  padding: 0.25em 1em 1em 1em;
  margin: 0;
}

nav {
  display: flex;
  background-color: #F8F9FA;
  margin: 0.75em 0 0.75em 0;
  align-items: center;
}
nav .button {
  padding: 0.5em;
}
nav .button button {
  border: none;
  background-color: #F8F9FA;
  font-weight: 600;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}
nav ul li {
  position: relative;
  padding: 1em;
  cursor: pointer;
}
nav ul li:hover {
  background-color: #f5f5f5;
}
nav ul li ul {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
  border: solid 1px grey;
}
nav ul li ul li {
  padding: 0.5em;
  cursor: pointer;
}
nav ul li ul li:hover {
  background-color: #e9ecef;
}
nav ul:hover > li > ul {
  display: none;
}
nav ul li:hover > ul {
  display: block;
}

.carousel {
  display: flex;
  background-color: #E9ECEF;
  align-items: center;
  margin: 0.75em 0 0.75em 0;
}
.carousel:hover {
  transform: rotate(0.5turn);
}
.carousel span {
  margin-right: 0.5em;
}

.cards {
  background-color: #E9ECEF;
  padding: 1em 0 1em 0;
  margin: 0.75em 0 0.75em 0;
}
.cards .card {
  display: flex;
  align-items: center;
  border: solid 1px grey;
  margin: 0.5em;
  background-color: white;
}
.cards .card span {
  margin: 0 0.75em 0 0.75em;
  color: red;
}
.cards .card:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.form-section {
  display: flex;
  margin: 0.75em 0 0.75em 0;
  padding: 1.5em 0 1.5em 0;
  background-color: #E9ECEF;
}
.form-section .form-group input:focus {
  outline: none;
  border: 2px solid #4CAF50;
}

.footer {
  display: flex;
  margin: 0.75em 0 0.75em 0;
  background-color: #E9ECEF;
  align-items: center;
}/*# sourceMappingURL=style.css.map */