header {
    background-color: #343A40;
    .material-symbols-outlined {
        color: #118ABD;
        padding: 0.25em;
    }
    h1 {
        color: white;
        padding: 0.25em 1em 1em 1em;
        margin: 0;
    }
}

nav {
    display: flex;
    background-color: #F8F9FA;
    margin: 0.75em 0 0.75em 0;
    align-items: center;
    .button {
        padding: 0.5em;
        button {
            border: none;
            background-color: #F8F9FA;
            font-weight: 600;
        }
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;

        li {
            position: relative;
            padding: 1em;
            cursor: pointer;

            &:hover {
                background-color: #f5f5f5;
            }

            ul {
                position: absolute;
                top: 100%;
                left: 0;
                display: none;
                list-style: none;
                padding: 0;
                margin: 0;
                background-color: #f5f5f5;
                border: solid 1px grey;

                li {
                    padding: 0.5em;
                    cursor: pointer;

                    &:hover {
                        background-color: #e9ecef;
                    }
                }
            }
        }

        &:hover>li>ul {
            display: none;
        }

        li:hover>ul {
            display: block;
        }
    }
}


.carousel {
    display: flex;
    background-color: #E9ECEF;
    align-items: center;
    margin: 0.75em 0 0.75em 0;
    &:hover {
        transform: rotate(0.5turn);
    }
    span {
        margin-right: 0.5em;
    }
}

.cards {
    background-color: #E9ECEF;
    padding: 1em 0 1em 0;
    margin: 0.75em 0 0.75em 0;
    .card {
        display: flex;
        align-items: center;
        border: solid 1px grey;
        margin: 0.5em;
        background-color: white;
        span {
            margin: 0 0.75em 0 0.75em;
            color: red;
        }
        &:hover {
            background-color: #f5f5f5;
            cursor: pointer;
        }
    }
}

.form-section {
    display: flex;
    margin: 0.75em 0 0.75em 0;
    padding: 1.5em 0 1.5em 0;
    background-color: #E9ECEF;
    .form-group input:focus {
            outline: none;
            border: 2px solid #4CAF50;
        }
    
}

.footer {
    display: flex;
    margin: 0.75em 0 0.75em 0;
    background-color: #E9ECEF;
    align-items: center;
}