.header {
    display: flex;
    background-color: lightblue;
    justify-content: space-between;
    align-items: center;

    .nav {
        display: flex;
        .nav-list {
            display: flex;
            padding: 0;
            margin: 0;
            list-style: none;
        }
    }
}