.header {
  display: flex;
  background-color: lightblue;
  justify-content: space-between;
  align-items: center;
}
.header .nav {
  display: flex;
}
.header .nav .nav-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}/*# sourceMappingURL=style.css.map */