ul {
    li {
        &:first-child {
            color: red;
        }

        &:last-child {
            color: blue;
        }

        &:nth-child(even) {
            color: red;
        }
    }
}