header {
  background-color: #343A40;
  color: white;
}
header .header {
  display: flex;
}
header h2 {
  padding: 0 0 1em 0.5em;
  margin: 0;
}

nav {
  background-color: #F8F9FA;
  padding: 1em;
}
nav a {
  color: black;
  text-decoration: none;
  padding-left: 1.25em;
}
nav a:hover {
  color: #007BFF;
}

.columns {
  color: white;
  display: flex;
  background-color: #E9ECEF;
  justify-content: space-evenly;
}
.columns .column {
  padding: 1em;
  width: 400px;
  margin: 1em;
}
.columns .column1 {
  background-color: #007BFF;
}
.columns .column2 {
  background-color: #28A745;
}
.columns .column3 {
  background-color: #FFC107;
  color: black;
}

footer {
  background-color: #343A40;
  color: white;
  padding: 0.5em;
}/*# sourceMappingURL=style.css.map */