header {
    background-color: #343A40;
    color: white;
    // padding: 1em;
    .header {
        display: flex;
    }

    h2 {
        padding: 0 0 1em 0.5em;
        margin: 0;
    }
}

nav {
    background-color: #F8F9FA;
    padding: 1em;
    a {
        color: black;
        text-decoration: none;
        padding-left: 1.25em;
        &:hover {
            color: #007BFF;
        }
    }
}

.columns {
    color: white;
    display: flex;
    background-color: #E9ECEF;
    justify-content: space-evenly;
    .column {
        padding: 1em;
        width: 400px;
        margin: 1em;
    }
    .column1 {
        background-color: #007BFF;
    }
    .column2 {
        background-color: #28A745;
        
    }
    .column3 {
        background-color: #FFC107;
        color: black;
    }
}

footer {
    background-color: #343A40;
    color: white;
    padding: 0.5em;
}