.photo-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
}

.photo {
    width: 300px;
    height: 300px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px black solid;

}

table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}