div span {
  color: red;
}
div ul {
  display: none;
}
div ul li {
  background-color: lightblue;
}
div img {
  border: 1px solid black;
}

nav a {
  color: green;
}/*# sourceMappingURL=style.css.map */