div {
    span {
        color: red;
    }
    ul {
        display: none;
        li {
            background-color: lightblue;
        }
    }
    
    img {
        border: 1px solid black;
    }
}

nav {
    a {
        color: green;
    }
    
}