.row {
    display: flex;
    .equal-width {
        text-align: center;
        background-color: lightblue;
        flex: 1;
        border: solid 1px black;
    }
}

.row2 {
    display: flex;
    .fixed-percentage {
        display: flex;
        text-align: center;
        background-color: lightblue;
        flex: 0 0 40%;
    }

    .flexible {
        text-align: center;
        background-color: lightblue;
        flex: 1;
    }
}