.row {
  display: flex;
}
.row .equal-width {
  text-align: center;
  background-color: lightblue;
  flex: 1;
  border: solid 1px black;
}

.row2 {
  display: flex;
}
.row2 .fixed-percentage {
  display: flex;
  text-align: center;
  background-color: lightblue;
  flex: 0 0 40%;
}
.row2 .flexible {
  text-align: center;
  background-color: lightblue;
  flex: 1;
}/*# sourceMappingURL=style.css.map */