body {
    background-color: #11270B;
    color: white;
    margin: 1em;
}

#product{
    background-color: #598B2C;
    border-radius: 1em;
    padding: 0.25em;
    margin-bottom: 1em;
}
button {
    padding: 0.75em;
    border-radius: 0.5em;
    margin: 0.5em;
    border: none;
    background-color: #71B340;
    color: white;
}


h1 {
    font-size: 2em;
    margin: 0.5em;
    text-align: center;
    color: #669D31;
}

h2 {
    font-size: 1.5em;
    margin: 0.5em;
}

p {
    margin: 0.75em;
    font-style: italic;
}

#details {
    font-style: normal;
    font-size: 1.5em;
    
}

form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 1em;
    background-color: #598B2C;
    border-radius: 1em;
    margin-top: 1em;
}

input {
    border-radius: 1em;
    border: none;
    padding: 0.5em;
    background-color: #7FC44A;
    color: white;
}

label {
    font-size: large;
    padding: 0.2em;
    text-align: center;
}
