.a {
    list-style-type: upper-roman;
        .c {
            list-style-type: upper-alpha;
            .d {
                list-style-type: lower-roman;
            }
        }

    
}

