body {
    position: relative;

    .background {
        width: 100vw;
        height: 100vh;
        position: inherit;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-image: url(https://www.tapetus.pl/obrazki/n/200890_rzeka-motlawa-kamienice-gdansk-polska-miasto.jpg);
        z-index: -1;
    }
}