.wrapper {
    overflow: hidden;
    width: 100%;
}

.left {
    width: 70%;
    float: left;
}

.right {
    width: 30%;
    float: left;
}

.menu {
    a {
        display: block;
        padding:5px ;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            margin-right: 20px;
            float: left;
        }
    }
}