.wrapper {
  overflow: hidden;
  width: 100%;
}

.left {
  width: 70%;
  float: left;
}

.right {
  width: 30%;
  float: left;
}

.menu a {
  display: block;
  padding: 5px;
}
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu ul li {
  margin-right: 20px;
  float: left;
}/*# sourceMappingURL=style.css.map */