.container {
    grid-template-areas:
        "header header header"
        "left content right"
        "footer footer footer";
    display: grid;
    gap: 10px;
    grid-template-columns: 200px 400px 250px;
    grid-template-rows: auto;
    
    .header {
        grid-area: header;
    }
    .left {
        grid-area: left;
    }
    .right {
        grid-area: right;
    }
    .content {
        grid-area: content;
    }
    .footer {
        grid-area: footer;
    }
}