.container {
  grid-template-areas: "header header header" "left content right" "footer footer footer";
  display: grid;
  gap: 10px;
  grid-template-columns: 200px 400px 250px;
  grid-template-rows: auto;
}
.container .header {
  grid-area: header;
}
.container .left {
  grid-area: left;
}
.container .right {
  grid-area: right;
}
.container .content {
  grid-area: content;
}
.container .footer {
  grid-area: footer;
}/*# sourceMappingURL=style.css.map */