.grid-container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 16px;
}
.grid-container .rotate-45 {
  transform: rotateZ(45deg);
  background-color: red;
}
.grid-container .scale-up {
  transform: scale(120%);
  background-color: blue;
}
.grid-container .translate {
  transform: translate(10px, 10px);
  background-color: green;
}
.grid-container .flip-horizontal {
  transform: scaleX(-1);
  background-color: yellow;
}
.grid-container .skew {
  transform: skew(10deg);
  background-color: purple;
}
.grid-container .rotate-translate {
  background-color: olive;
  transform: rotate(30deg) translateX(20px);
  rotate: 30deg;
  position: relative;
  left: 20px;
}
.grid-container .scale-flip {
  background-color: navy;
  transform: scaleX(-1) scale(110%);
}

.grid-item {
  width: 100px;
  height: 100px;
  font-size: 24px;
  color: white;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}/*# sourceMappingURL=style.css.map */