a {
    :hover {
        color: red;
    }
}

input {
    &:focus {
        background-color: yellow;
    }
}

.parent:hover .hidden {
    display: none;
}

li {
    &:not(:first-child) {
        color: grey;
    }
}